.hot-list {
  margin: 0;
  background-color: black;
  padding-bottom: 0.2rem;
}

h3.list-title {
  margin: 0 0 0.2rem 0;
  padding-left: 0.5rem;
  color: white;
  font-family: $josefin;
  padding-top: 0.5rem;
  text-decoration: underline;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-item {
  color: white;
  margin: 0.2rem 0.5rem;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-name {
  padding: 0.2rem;
  align-self: flex-start;
  margin: 0;
}

.list-image {
  margin: 0.5rem 0.2rem;
  height: 15rem;
}

@media (min-width: 700px) {
  .list-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list-image {
    height: 17rem;
  }
}
