$monospace: 'Major Mono Display', monospace;

@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import 'header';
@import 'hero';

html {
  font-family: $monospace;

  a {
    text-decoration: none;
  }
}
